In [1]:
import glob
import pandas as pd
import pickle

In [2]:
myfiles = []
for each_file in glob.glob('scripts/*.csv'):
    myfiles.append(each_file)

In [3]:
len(myfiles)

122

In [4]:
myfiles[1]

'scripts/s2e13.csv'

In [5]:
all_scripts = pd.DataFrame(columns=['Character', 'Line', 'Line_Number', 'Episode'])
for file in myfiles:
    script = pd.read_csv(file)
    script['Line_Number'] = script.index
    script['Episode'] = file.replace('scripts/', '').replace('.csv', '')
    all_scripts = all_scripts.append(script)

In [6]:
all_scripts = all_scripts.sort_values(['Episode', 'Line_Number'])

In [7]:
with open('all_scripts.pickle', 'wb') as to_write:
        pickle.dump(all_scripts, to_write)

In [8]:
with open('all_scripts.pickle','rb') as read_file:
    scripts = pickle.load(read_file)

In [9]:
scripts.head()

,Character,Line,Line_Number,Episode
0,Leslie Knope,Hello.,0,s1e01
1,Leslie Knope,Hi.,1,s1e01
2,Leslie Knope,"My name is Leslie Knope, and I work for the Pa...",2,s1e01
3,Leslie Knope,Can I ask you a few questions?,3,s1e01
4,Leslie Knope,"Would you say that you are, ""Enjoying yourself...",4,s1e01

In [26]:
scripts_no_char = scripts.drop(columns = ['Character', 'Line_Number'])
scripts_no_char.head()

                                                Line Episode
0                                             Hello.   s1e01
1                                                Hi.   s1e01
2  My name is Leslie Knope, and I work for the Pa...   s1e01
3                     Can I ask you a few questions?   s1e01
4  Would you say that you are, "Enjoying yourself...   s1e01

In [34]:
scripts_no_char['Episode_Text'] = scripts_no_char.groupby('Episode')['Line'].transform(lambda x : ' '.join(x)) 
episodes = scripts_no_char.drop(columns = 'Line')
episodes.drop_duplicates(inplace = True)
episodes.reset_index(drop=True, inplace = True)
episodes.head()

  Episode                                       Episode_Text
0   s1e01  Hello. Hi. My name is Leslie Knope, and I work...
1   s1e02  Well, one of the funner things that we do here...
2   s1e03  Okay, now, see, here's a good example of a pla...
3   s1e04  So, we've been called out to this hiking trail...
4   s1e05  In a town as old as Pawnee, there's a lot of h...

In [36]:
with open('episodes.pickle', 'wb') as to_write:
        pickle.dump(episodes, to_write)