In [1]:
import pandas as pd
import pickle
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.decomposition import NMF

In [2]:
with open('all_scripts.pickle','rb') as read_file:
    all_scripts = pickle.load(read_file)

all_scripts.head()

,Character,Line,Line_Number,Episode
0,Leslie Knope,Hello.,0,s1e01
1,Leslie Knope,Hi.,1,s1e01
2,Leslie Knope,"My name is Leslie Knope, and I work for the Pa...",2,s1e01
3,Leslie Knope,Can I ask you a few questions?,3,s1e01
4,Leslie Knope,"Would you say that you are, ""Enjoying yourself...",4,s1e01

In [3]:
leslie = all_scripts[ all_scripts['Character'] == 'Leslie Knope' ]
leslie.head()

,Character,Line,Line_Number,Episode
0,Leslie Knope,Hello.,0,s1e01
1,Leslie Knope,Hi.,1,s1e01
2,Leslie Knope,"My name is Leslie Knope, and I work for the Pa...",2,s1e01
3,Leslie Knope,Can I ask you a few questions?,3,s1e01
4,Leslie Knope,"Would you say that you are, ""Enjoying yourself...",4,s1e01