In [33]:
import glob
import pandas as pd
import pickle

In [5]:
myfiles = []
for each_file in glob.glob('scripts/*.csv'):
    myfiles.append(each_file)

In [8]:
len(myfiles)

122

In [11]:
myfiles[1]

'scripts/s2e13.csv'

In [27]:
all_scripts = pd.DataFrame(columns=['Character', 'Line', 'Line_Number', 'Episode'])
for file in myfiles:
    script = pd.read_csv(file)
    script['Line_Number'] = script.index
    script['Episode'] = file.replace('scripts/', '').replace('.csv', '')
    all_scripts = all_scripts.append(script)

In [32]:
all_scripts.sort_values(['Episode', 'Line_Number'])

,Character,Line,Line_Number,Episode
0,Leslie Knope,Hello.,0,s1e01
1,Leslie Knope,Hi.,1,s1e01
2,Leslie Knope,"My name is Leslie Knope, and I work for the Pa...",2,s1e01
3,Leslie Knope,Can I ask you a few questions?,3,s1e01
4,Leslie Knope,"Would you say that you are, ""Enjoying yourself...",4,s1e01
...,...,...,...,...
988,Jerry Gergich,Okay.,988,s7e12
989,Ben Wyatt,"You ready, babe?",989,s7e12
990,Leslie Knope,Yes.,990,s7e12
991,Leslie Knope,I'm ready.,991,s7e12
992,Extra,That is a series wrap on Parks and Recreation.,992,s7e12

In [ ]:
with open('Data Sets/Final_Data_Set.pickle', 'wb') as to_write:
        pickle.dump(full_recipe_data_key, to_write)

In [ ]:
with open('Data Sets/Recipe_Data_Scrape.pickle','rb') as read_file:
    recipe_dictionary = pickle.load(read_file)

In [373]:

#vectorizer = CountVectorizer(stop_words = 'english' )
#doc_word = vectorizer.fit_transform(all_scripts.Line)
#doc_word.shape

In [374]:
nmf_model = NMF(3)
doc_topic = nmf_model.fit_transform(doc_word)
doc_topic.shape

(65942, 3)

In [375]:
topic_word = nmf_model.components_
topic_word.shape

(3, 17211)

In [376]:
words = vectorizer.get_feature_names()
t = nmf_model.components_.argsort(axis=1)[:,-1:-8:-1]
topic_words = [[words[e] for e in l] for l in t]
topic_words

[['right', 'kind', 'man', 'down', 'stop', 'feel', 'life'],
 ['time', 'first', 'last', 'find', 'capsule', 'spend', 'down'],
 ['pawnee', 'people', 'great', 'love', 'work', 'city', 'town']]

In [393]:
vectorizer = CountVectorizer(max_df = 0.0005)
doc_word = vectorizer.fit_transform(all_scripts.Line)
doc_word.shape

(65942, 16285)

(65942, 17378)

In [394]:
nmf_model = NMF(3)
doc_topic = nmf_model.fit_transform(doc_word)
doc_topic.shape

(65942, 3)

In [395]:
topic_word = nmf_model.components_
topic_word.shape

(3, 16285)

In [396]:
words = vectorizer.get_feature_names()
t = nmf_model.components_.argsort(axis=1)[:,-1:-8:-1]
topic_words = [[words[e] for e in l] for l in t]
topic_words

[['blah', 'poker', 'basic', 'medical', 'facts', 'records', 'texts'],
 ['grid', 'entirely', 'places', 'dope', 'photos', 'post', 'mission'],
 ['chop', 'master', 'throat', 'tighten', 'cab', 'meter', 'bakin']]